
body {
	margin: 0;
	background-color: #444141;
		color: #d9edf7;
}

p {
	margin: 0%;
	background-color: #444141;
	color: #d9edf7;
	font-size: 20px;
}

a {
	text-decoration: none;
}

input {
	width: 100%;
	font-size: 25px;
	padding: 5px;
}

.main-container {
   	margin-left: 35%;
   	margin-right: 35%;
   	margin-top: 10%;
   	padding: 2px;		       	
   	display: block;

}

.main-block {
	background-color: #f4f7f9;
   	color: black;
   	padding: 5px;
}

.task {
	background-color: #f4f7f9;
   	color: black;
   	display: block;
   	margin: 3px;
   	font-size: 0px;
   	border-radius: 5px;
   	border: 2px solid #c3bfbf;
}

.task-button {
	width: 30px;
	display: inline-block;
	font-size: initial;
	text-align: center;
}

.del-button:hover,.check-button:hover {
	background-color: black;
	cursor: pointer;
}

.task-text {
	width: calc(100% - 60px);
	display: inline-block;
	font-size: initial;
}

.add-button {
	text-align: center;
	background-color: #67d0b6;
   	color: white;
   	padding: 2px;
   	font-size: 30px;
   	font-weight: 900;
   	border-radius: 5px;
   	padding: 2px;
   	margin-top:	5px;
   	font-family: initial;
   	border: none;
}

.cancel-button {
	text-align: center;
	background-color: #eaafaf;
   	color: white;
   	padding: 2px;
   	font-size: 30px;
   	font-weight: 900;
   	border-radius: 5px;
   	padding: 2px;
   	margin-top:	5px;
   	font-family: initial;
   	border: none;
}

.check-button {
	color: #67d0b6;
	border-right: 2px solid #c3bfbf;
	font-size: 30px;
}

.del-button {
	color: white;
	background-color: #eaafaf;
	border-left: 2px solid #c3bfbf; 
	font-size: 30px;
}

.border-text {
	color: #000000c2;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
	font-weight: 900;
}

.form-margin {
	margin: 0;
}

.done {
	text-decoration: line-through #000000c2;
}

